ion-icon{
    margin: 0px 4px -3px 0px;
    font-size: 17px;
}


ion-card-header {
    background-color: #eae6e6;
    border-bottom: 1px groove;
}
ion-card{
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.75rem;
}
ion-label {
    color: black;
    font-family: fantasy;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
    font-size: 15px;
}
.row{
    margin-top: 24px;
    place-content: center;
    border-bottom: 0.3px groove;
}
.col-6 label{
    font-size: 18px;
    margin-left: -27px;
    display: inline-block;
    word-break: break-word;
    color: black;
    font-family: fantasy;
    font-weight: 350;
    line-height: 32px;
    text-align: center;
}