<ion-header>
  <ion-toolbar color="secondary">
    <ion-title style="color:white;font-family: Roboto;
      font-weight: 700;
      line-height: 58px;
      text-align: center;margin-right: -65px;">
      Facture
    </ion-title>
    <ion-buttons slot="secondary">
      <ion-button fill="solid" style="font-size: 18px;" [routerLink]="'/home'" routerDirection="forward"
        color="secondary">
        <ion-icon slot="start" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>


</ion-content>

<ion-footer no-padding no-marging>

  <ion-segment no-padding no-marging [(ngModel)]="segment">
    <ion-segment-button value="bill" checked [routerLink]="'/bill/'+ this?.idSite" routerDirection="forward">
      <ion-icon size="small" name="cash" style="margin-top: 0px;color: white;">
      </ion-icon>
    </ion-segment-button>

    <ion-segment-button value="monitor" [routerLink]="'/monitor/'+ this?.idSite" routerDirection="forward">
      <ion-icon size="small" name="desktop" style="margin-top: 0px;color: white;"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="quality" [routerLink]="'/quality/'+ this?.idSite" routerDirection="forward">
      <ion-icon size="small" name="checkmark-done-circle" style="margin-top: 0px;color: white;"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="alarme" [routerLink]="'/alarme/'+ this?.idSite" routerDirection="forward">
      <ion-icon size="small" name="notifications" style="margin-top: 0px;color: white;"></ion-icon>
    </ion-segment-button>


    <ion-segment-button value="environment" [routerLink]="'/environment/'+ this?.idSite" routerDirection="forward">
      <ion-icon size="small" name="earth" style="margin-top: 0px;color: white;"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="actionneur" [routerLink]="'/actionneur/'+ this?.idSite" routerDirection="forward">
      <ion-icon size="small" name="receipt" style="margin-top: 0px;color: white;"></ion-icon>
    </ion-segment-button>

  </ion-segment>

</ion-footer>