ion-card{
    padding: 12px;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
ion-badge{
    float: right;
    margin-right: 9px;
    margin-top: 3px;
    border-radius: 35px;
}
ion-icon{
    font-size: 18px;
}