.col-4{
    text-align: center;
}
.col-4 label{
    border-radius: 50%;
    box-shadow: 0px 1px 6px 0px rgb(134 134 134 / 59%);
    width: 59px;
    height: 57px;
    padding-top: 18px;
    margin-top: 7px;
    color: white;
    font-size: 17px;
}

.data {
    font-size: 15px;
    -webkit-text-stroke-width: thin;
}

.dataAC{
    font-size: 15px;
    -webkit-text-stroke-width: thin;
    position: absolute;
    margin-left: -48px;
    margin-top: -24px;  
}
.col-6{
    text-align: center;
}


ion-icon{
    margin: 5px 4px -3px -2px;
    font-size: 18px;
}
ion-card-header {
    background-color: #eae6e6;
    border-bottom: 1px groove;
    padding: 2px;
    text-align: center;
}
ion-card{
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);

}
ion-label {
    color: #25368c;
    font-family: revert;
    font-weight: 700;
    line-height: 3px;
    text-align: center;
    font-size: 17px;
}
.OverviewEye{
    position: absolute;
    right: 10px;
    font-size: 26px;
    margin-top: -3px;
}
.titles{
    font-size: 18px;
    color: #3f3d3d;
    display: inline-block;
    word-break: break-word;  
    font-family: revert;
    line-height: 25px;
    text-align: center;
}