ion-icon{
    margin: 0px 5px -2px 0px;
    font-size: 18px;
}


ion-card-header {
    background-color: #eae6e6;
    border-bottom: 1px groove;
}
ion-card{
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .75rem;

}
ion-label {
    color: black;
    font-weight: 700;
    line-height: 3px;
    text-align: center;
    font-size: 15px;
}
.titles{
    font-size: 17px;
    color: #3f3d3d;
    display: inline-block;
    word-break: break-word;  
    line-height: 30px;
    text-align: center;
}